<h1 class='title'>Update Provider</h1>

<%= semantic_form_for(@provider) do |f| %>
	<%= f.input :enabled, :as => :boolean %>
	<%= f.input :name, :as => :string, :label => 'Name', :hint => 'A friendly name for this provider', :autofocus => true %>
	<%= f.input :host, :as => :string, :label => 'IAX2 Server', :hint => 'The IP address or hostname of the IAX2 service' %>
	<%= f.input :port, :as => :number, :label => 'IAX2 Port', :hint => 'The port of the IAX2 service' %>
	<%= f.input :user, :as => :string, :label => 'Username' %>
	<%= f.input :pass, :as => :string, :label => 'Password', :input_html => { :autocomplete => false }  %>
	<%= f.input :lines, :as => :number, :label => 'Maximum Lines', :hint => 'Maximum concurrent outbound lines' %>

	<%= f.action :submit, :label => 'Update', :button_html => { :class => 'btn btn-large fbtn' }  %>
	<a class="btn btn-link" href="<%= providers_path %>" rel="tooltip" title="Return to providers"><i class="fa fa-return"></i>Cancel</a>
<% end %>
