<% if @providers.length > 0 %>
<h1 class='title'>VoIP Providers (IAX)</h1>

<%= will_paginate @providers, :renderer => BootstrapPagination::Rails %>
<table class='table table-striped table-condensed' width='90%'>
  <tr>
    <th>Active</th>
    <th>Provider Name</th>
    <th>IAX2 Server</th>
    <th>IAX2 Port</th>
    <th>Username</th>
    <th>Lines</th>
    <th>Actions</th>

  </tr>

<% @providers.each do |provider|  %>
  <tr>
    <td>
    <i class="icon-<%= provider.enabled  ? "ok" : "remove" %>"></i>
    </td>
    <td><%= provider.name %></td>
    <td><%= provider.host %></td>
    <td><%= provider.port %></td>
    <td><%= provider.user %></td>
    <td><%= provider.lines %></td>
    <td>
    	<a class="btn" href="<%= edit_provider_path(provider) %>"rel="tooltip" title="Update Provider Information"><i class="icon-pencil"></i></a>
    	<a class="btn" href="<%= provider_path(provider) %>" data-confirm="Remove this provider?" data-method="delete" rel="nofollow tooltip" title="Remove Provider"><i class="icon-trash"></i></a>
    </td>
  </tr>
<% end %>
</table>
<%= will_paginate @providers, :renderer => BootstrapPagination::Rails %>
<% else %>
<h1 class='title'>No Configured Providers</h1>
<% end %>

<br/>
<a class="btn" href="<%= new_provider_path %>"><i class="icon-plus"></i> Add Provider </a>
