<% if @jobs.length > 0 %>
<h1 class='title'>Analyzed Jobs</h1>

<%= will_paginate @jobs %>
<table class='table_scaffold' width='100%'>
  <tr>
    <th>ID</th>
    <th>Range</th>
    <th>Connected</th>
    <th>Date</th>
  </tr>

<% @jobs.sort{|a,b| b.id <=> a.id}.each do |dial_job|  %>
  <tr>
    <td><%=h dial_job.id %></td>
    <td><%=h dial_job.range %></td>
    <td><%=h DialResult.find(:all, :conditions => ['dial_job_id = ? and processed = ?', dial_job.id, true]).length.to_s + "/" + dial_job.dial_results.length.to_s %></td>
    <td><%=h dial_job.started_at.localtime.strftime("%Y-%m-%d %H:%M:%S %Z") %></td>
    <td><%= link_to 'View', view_analyze_path(dial_job) %></td>
	<td><%= link_to 'ReProcess', reanalyze_dial_result_path(dial_job), :confirm => 'Process this job again?' %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @jobs %>

<% else %>

<h1 class='title'>No Analyzed Jobs</h1>

<% end %>
