<h1 class='title'>Analysis of Job ID <%= @job_id %></h1>

<table width='100%' align='center' border=0 cellspacing=0 cellpadding=6>
<tr>
	<td align='center'><%= render_ezgraphix @g1 %></td>
	<td align='center'><%= render_ezgraphix @g2 %></td>
</tr>
</table>

<%= will_paginate @results %>

<table class='table_scaffold' width='100%'>
  <tr>
    <th>ID</th>  
    <th>Number</th>
    <th>Type</th>
  	<th>Signal</th>
	<th>Spectrum</th>
    <th>CID</th>
    <th>Provider</th>
    <th>Time</th>
	<th>Ring</th>
  </tr>

<%  @results.each do |dial_result| %>
  <tr>
    <td><%=h dial_result.id %></td>
	<td>
		<b><%= dial_result.number %></b><br/>
		<object
			type="application/x-shockwave-flash"
			data="/images/musicplayer.swf?song_url=<%=resource_analyze_path(@job_id)%>/<%= dial_result.id %>/mp3" 
			width="20"
			height="17"
			>
			<param name="movie" value="/musicplayer.swf?song_url=<%=resource_analyze_path(@job_id)%>/<%= dial_result.id %>/mp3"></param>
			<param name="wmode" value="transparent"></param>
		</object> 	
	</td>
    <td><%=h dial_result.line_type.upcase %></td>	
  	<td>
		<a href="<%=resource_analyze_path(@job_id)%>/<%= dial_result.id %>/big_sig_dots" rel="lightbox"><img src="<%=resource_analyze_path(@job_id)%>/<%= dial_result.id %>/small_sig" /></a>
	</td>
	<td>
		<a href="<%=resource_analyze_path(@job_id)%>/<%= dial_result.id %>/big_freq" rel="lightbox"><img src="<%=resource_analyze_path(@job_id)%>/<%= dial_result.id %>/small_freq" /></a>
	</td>

    <td><%=h dial_result.cid %></td>	
    <td><%=h dial_result.provider.name %></td>
    <td><%=h dial_result.seconds %></td>
    <td><%=h dial_result.ringtime %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @results %>
