<h1 class='title'>Analysis of Job ID <%= @job_id %></h1>

<table width='100%' align='center' border=0 cellspacing=0 cellpadding=6>
<tr>
	<td align='center'> </td>
	<td align='center'> </td>
</tr>
</table>

<%= will_paginate @results %>

<table class='table_scaffold' width='100%'>
  <tr>
    <th>ID</th>
  	<th>Signal</th>
	<th>Spectrum</th>
    <th>Number</th>
    <th>CallerID</th>
    <th>Provider</th>
    <th>Call Time</th>
	<th>Ring Time</th>
  </tr>

<%  @results.each do |dial_result| %>
  <tr>
    <td><%=h dial_result.id %></td>
  	<td>
		<a href="<%=resource_analyze_path(@job_id)%>?result_id=<%= dial_result.id %>&type=big_sig_dots" rel="lightbox"><img src="<%=resource_analyze_path(@job_id)%>?result_id=<%= dial_result.id %>&type=small_sig" /></a>
	</td>
	<td>
		<a href="<%=resource_analyze_path(@job_id)%>?result_id=<%= dial_result.id %>&type=big_freq" rel="lightbox"><img src="<%=resource_analyze_path(@job_id)%>?result_id=<%= dial_result.id %>&type=small_freq" /></a>
	</td>
	<td>
		<a href="<%=resource_analyze_path(@job_id)%>?result_id=<%= dial_result.id %>&type=mp3" target="_new"><%= dial_result.number %></a>
	</td>
    <td><%=h dial_result.cid %></td>	
    <td><%=h dial_result.provider.name %></td>
    <td><%=h dial_result.seconds %></td>
    <td><%=h dial_result.ringtime %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @results %>
