<!DOCTYPE html>
<html>
<head>
  <title><%= @title || "WarVOX" %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  <%= render :partial => 'shared/header' %>
</div>

<div id="content">
	<div class="box_full">
	<img src="<%= asset_path('round_top.png') %>" id="round_top" alt=""/>
	<div id="main">

	<div id="flash"></div>

<%= yield %>

		<br/><br/>

		<div id="footer">
		  <%= render :partial => 'shared/footer' %>
		</div>

	</div>
	<img src="<%= asset_path('round_bot.png') %>" id="round_bot" alt=""/>
	</div>
</div>

<br/><br/>

</body>
</html>
