<!DOCTYPE html>
<html>
<head>
  <title><%= @title || "WarVOX" %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'global', 'lightbox' %>
  <!--[if IE 7]><%= stylesheet_link_tag 'ie7' %><![endif]-->		
  <%= javascript_include_tag 'custom', 'prototype', 'effects', 'FusionCharts', 'lightbox' %>  
</head>
<body>

<div id="header">
  <%= render :partial => 'shared/header' %>
</div>

<div id="content">
	<div class="box_full">
	<img src="/images/round_top.png" id="round_top" alt=""/>
	<div id="main">
<%= yield %>
		<br/><br/>
	
		<div id="footer">
		  <%= render :partial => 'shared/footer' %>
		</div>
	
	</div>
	<img src="/images/round_bot.png" id="round_bot" alt=""/>
	</div>
</div>

<br/><br/>

</body>
</html>
