<% if(@submitted_jobs.length > 0) %>

<h1 class='title'>Submitted Jobs</h1>

<table class='table table-striped table-bordered' width='90%'>
  <tr>
    <th>ID</th>
    <th>Range</th>
    <th>CallerID</th>
    <th>Seconds</th>
    <th>Lines</th>
    <th>Submitted Time</th>
    <th>Actions</th>
  </tr>

<% @submitted_jobs.each do |dial_job| %>
  <tr>
    <td><%=h dial_job.id %></td>
    <td><%=h dial_job.range %></td>
	<td><%=h dial_job.cid_mask %></td>
    <td><%=h dial_job.seconds %></td>
    <td><%=h dial_job.lines %></td>
    <td><%=h dial_job.created_at.localtime.strftime("%Y-%m-%d %H:%M:%S %Z") %></td>

    <td>
	    <a class="btn btn-mini" href="<%= run_dial_job_path(@project, dial_job) %>" data-confirm="Launch this job?" rel="nofollow tooltip" title="Launch Job"><i class="icon-play"></i></a>
		<a class="btn btn-mini" href="<%= dial_job %>" data-confirm="Remove this job?" data-method="delete" rel="nofollow tooltip" title="Remove Job"><i class="icon-trash"></i></a>
	</td>
  </tr>
<% end %>
</table>
<br />
<% end %>

<% if(@active_jobs.length > 0) %>

<h1 class='title'>Active Jobs</h1>

<table class='table table-striped table-bordered' width='90%'>
  <tr>
    <th>ID</th>
    <th>Range</th>
    <th>CallerID</th>
    <th>Seconds</th>
    <th>Lines</th>
    <th>Status</th>
    <th>Progress</th>
    <th>Start Time</th>
    <th>Actions</th>
  </tr>

<% @active_jobs.each do |dial_job| %>
  <tr class='active_job_row'>
    <td><%=h dial_job.id %></td>
	<td><%=h dial_job.range %></td>
	<td><%=h dial_job.cid_mask %></td>
    <td><%=h dial_job.seconds %></td>
    <td><%=h dial_job.lines %></td>
    <td><%=h dial_job.status %></td>
    <td><%=h dial_job.progress %>%</td>
    <td><%=h dial_job.started_at.localtime.strftime("%Y-%m-%d %H:%M:%S %Z") %></td>
    <td>
		<a class="btn btn-mini" href="<%= stop_dial_job_path(@project, dial_job) %>" data-confirm="Terminate this job?" rel="nofollow tooltip" title="Terminate Job"><i class="icon-stop"></i></a>
	</td>
  </tr>
<% end %>
</table>
<br />

<script language="javascript">
	setTimeout("location.reload(true);", 20000);
</script>

<% end %>

<% if (@active_jobs.length + @submitted_jobs.length == 0) %>
<h1 class='title'>No Active Jobs</h1>
<br/>
<a class="btn" href="<%= new_dial_job_path(@project) %>"><i class="icon-plus"></i> Start Job </a>

<% end %>
