<h1>Editing dial_result</h1>

<%= form_for(@dial_result) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </p>
  <p>
    <%= f.label :cid %><br />
    <%= f.text_field :cid %>
  </p>
  <p>
    <%= f.label :dial_job_id %><br />
    <%= f.text_field :dial_job_id %>
  </p>
  <p>
    <%= f.label :provider %><br />
    <%= f.text_field :provider %>
  </p>
  <p>
    <%= f.label :completed %><br />
    <%= f.check_box :completed %>
  </p>
  <p>
    <%= f.label :busy %><br />
    <%= f.check_box :busy %>
  </p>
  <p>
    <%= f.label :seconds %><br />
    <%= f.text_field :seconds %>
  </p>
  <p>
    <%= f.label :ringtime %><br />
    <%= f.text_field :ringtime %>
  </p>
  <p>
    <%= f.label :rawfile %><br />
    <%= f.text_field :rawfile %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @dial_result %> |
<%= link_to 'Back', dial_results_path %>
