<p>
  <b>Number:</b>
  <%=h @dial_result.number %>
</p>

<p>
  <b>CallerID:</b>
  <%=h @dial_result.cid %>
</p>

<p>
  <b>Dial job:</b>
  <%=h @dial_result.dial_job_id %>
</p>

<p>
  <b>Provider:</b>
  <%=h @dial_result.provider %>
</p>

<p>
  <b>Completed:</b>
  <%=h @dial_result.completed %>
</p>

<p>
  <b>Busy:</b>
  <%=h @dial_result.busy %>
</p>

<p>
  <b>Seconds:</b>
  <%=h @dial_result.seconds %>
</p>

<p>
  <b>Ringtime:</b>
  <%=h @dial_result.ringtime %>
</p>

<p>
  <b>Rawfile:</b>
  <%=h @dial_result.rawfile %>
</p>


<%= link_to 'Edit', edit_dial_result_path(@project, @dial_result) %> |
<%= link_to 'Back', dial_results_path(@project) %>
