<% if @providers.length > 0 %>
<h1 class='title'>Providers</h1>
<table class='table_scaffold' width='100%'>
  <tr>
    <th>Name</th>
    <th>Host</th>
    <th>Port</th>
    <th>User</th>
    <th>Pass</th>
    <th>Lines</th>
  </tr>

<% for provider in @providers %>
  <tr>
    <td><%=h provider.name %></td>
    <td><%=h provider.host %></td>
    <td><%=h provider.port %></td>
    <td><%=h provider.user %></td>
    <td>********</td>
    <td><%=h provider.lines %></td>
    <td><%= link_to 'Modify', edit_provider_path(provider) %></td>
    <td><%= link_to 'Delete', provider, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Provider', new_provider_path %>

<% else %>

<h1 class='title'>No Configured Providers</h1>
<br/>

<h1 class='title'>New Provider</h1>

<% form_for(@new_provider) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name, 'The nickname for this provider' %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :host, 'The IAX2 server name' %><br />
    <%= f.text_field :host %>
  </p>
  <p>
    <%= f.label :port, 'The IAX2 port (normally 4569)' %><br />
    <%= f.text_field :port, :value => 4569 %>
  </p>
  <p>
    <%= f.label :user, 'The username to access the provider' %><br />
    <%= f.text_field :user %>
  </p>
  <p>
    <%= f.label :pass, 'The password to access the provider' %><br />
    <%= f.text_field :pass %>
  </p>
  <p>
    <%= f.label :lines, 'The number of available outbound lines' %><br />
    <%= f.text_field :lines, :value => 1 %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<% end %>

