<% if @jobs.length > 0 %>
<h1 class='title'>Analyzed Jobs</h1>

<%= raw(will_paginate @jobs) %>
<table class='table table-striped table-bordered' width='90%'>
  <thead>
  <tr>
    <th>ID</th>
    <th>Range</th>
	<th>CallerID</th>
    <th>Connected</th>
    <th>Date</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>

<% @jobs.sort{|a,b| b.id <=> a.id}.each do |dial_job|  %>
  <tr>
    <td><%=h dial_job.id %></td>
    <td><%=h dial_job.range %></td>
    <td><%=h dial_job.cid_mask %></td>
    <td><%=h (
		DialResult.count(:conditions => ['dial_job_id = ? and processed = ?', dial_job.id, true]).to_s +
		"/" +
		DialResult.count(:conditions => ['dial_job_id = ?', dial_job.id]).to_s
	)%></td>
    <td><%=h dial_job.started_at.localtime.strftime("%Y-%m-%d %H:%M:%S") %></td>

    <td>
        <a class="btn btn-mini" href="<%= view_dial_result_path(dial_job) %>"><i class="icon-bar-chart"></i></a>

		<% if(dial_job.processed) %>
			<a class="btn btn-mini" href="<%= analyze_dial_result_path(dial_job) %>"><i class="icon-eye-open"></i></a>
			<a class="btn btn-mini" href="<%= reanalyze_dial_result_path(dial_job) %>" data-confirm="Reprocess this job?" rel="nofollow"><i class="icon-refresh"></i></a>
		<% else %>
			<a class="btn btn-mini" href="<%= analyze_dial_result_path(dial_job) %>"><i class="icon-bolt"></i></a>
		<% end %>

    	<a class="btn btn-mini" href="<%= dial_result_path(dial_job) %>" data-confirm="Delete all data for this job?" data-method="delete" rel="nofollow"><i class="icon-trash"></i></a>
	</td>
  </tr>

<% end %>
</tbody>
</table>

<%= raw(will_paginate @jobs) %>

<% else %>

<h1 class='title'>No Analyzed Jobs</h1>

<% end %>
