<%  call = @result %>

<h1 class='title'><%= @result.number %> (<a href="<%=view_analyze_path(@project.id, call.job_id)%>">Back to Job Analysis</a>)</h1>
<table class='table table-striped table-bordered' width='90%'>
  <tr>
    <th>Number</th>
  	<th>Signal</th>
  </tr>

  <tr>
    <td align='center'>

		<object
			type="application/x-shockwave-flash"
			data="/assets/musicplayer.swf?song_url=<%=resource_analyze_path(call.id, "mp3")%>"
			width="20"
			height="17"
			style="margin-bottom: -5px;"
			>
			<param name="movie" value="/assets/musicplayer.swf?song_url=<%=resource_analyze_path(call.id, "mp3")%>"></param>
			<param name="wmode" value="transparent"></param>
		</object>

		<b><%= call.number %></b>
		<hr width='100%' size='1'/>
		CallerID: <%= call.caller_id%><br/>
		Provider: <%= call.provider.name %><br/>
		Audio: <%= call.audio_length %> Seconds<br/>
		Ringer: <%= call.ring_length %> Seconds<br/>
	</td>
  	<td align='center'>
		<b><%=h call.line_type.upcase %></b><br/>
		<%= render :partial => 'shared/lightbox_sig', :locals => { :call => call } %>
		<%= render :partial => 'shared/lightbox_freq', :locals => { :call => call } %>
	</td>
  </tr>

</table><br/><br/>

<h1 class='title'>Matches for <%= @result.number %></h1>

<table class='table table-striped table-bordered' width='90%'>
  <thead>
  <tr>
    <th>Number</th>
  	<th>Signal</th>
  </tr>
  </thead>
  <tbody>

<%  @results.each do |call| %>
  <tr>
    <td align='center'>

		<br/><%= raw(fwd_match_html(call.matchscore)) %><br/><br/>

		<object
			type="application/x-shockwave-flash"
			data="/assets/musicplayer.swf?song_url=<%=resource_analyze_path(call.id, "mp3")%>"
			width="20"
			height="17"
			style="margin-bottom: -5px;"
			>
			<param name="movie" value="/assets/musicplayer.swf?song_url=<%=resource_analyze_path(call.id, "mp3")%>"></param>
			<param name="wmode" value="transparent"></param>
		</object>

		<b><%= call.number %></b>
		<hr width='100%' size='1'/>
		CallerID: <%= call.caller_id%><br/>
		Provider: <%=h call.provider.name %><br/>
		Audio: <%=h call.audio_length %> Seconds<br/>
		Ringer: <%=h call.ring_length %> Seconds<br/>
	</td>
  	<td align='center'>
		<b><%=h call.line_type.upcase %></b><br/>
		<%= render :partial => 'shared/lightbox_sig', :locals => { :call => call } %>
		<%= render :partial => 'shared/lightbox_freq', :locals => { :call => call } %>
		<% if call.fprint %>
			<a href="<%=view_matches_path(call.project_id, call.job_id, call.id)%>">View Matches</a>
		<% end %>
	</td>
  </tr>
<% end %>
</tbody>
</table>
