<h1 class='title'>Analysis of Job ID <%= @job_id %></h1>

<%= select_tag_for_filter(@filters, params) %>

<table width='100%' align='center' border=0 cellspacing=0 cellpadding=6>
<tr>
	<td align='center'>
		<%= render :partial => 'shared/graphs/lines_by_type' %>
	</td>
</tr>
</table>

<%= raw(will_paginate @results) %>

<table class='table_scaffold' width='100%'>
  <tr>
    <th>Number</th>
  	<th>Signal</th>
  </tr>

<%  @results.each do |dial_result| %>
  <tr>
    <td align='center'>

		<object
			type="application/x-shockwave-flash"
			data="/assets/musicplayer.swf?song_url=<%=resource_analyze_path(@job_id, dial_result.id, "mp3")%>"
			width="20"
			height="17"
			style="margin-bottom: -5px;"
			>
			<param name="movie" value="/assets/musicplayer.swf?song_url=<%=resource_analyze_path(@job_id, dial_result.id, "mp3")%>"></param>
			<param name="wmode" value="transparent"></param>
		</object>
		<b><%= dial_result.number %></b>
		<hr width='100%' size='1'/>
		CallerID: <%= dial_result.cid%><br/>
		Provider: <%=h dial_result.provider.name %><br/>
		Audio: <%=h dial_result.seconds %> Seconds<br/>
		Ringer: <%=h dial_result.ringtime %> Seconds<br/>
	</td>
  	<td align='center'>
		<b><%=h dial_result.line_type.upcase %></b><br/>
		<a href="<%=resource_analyze_path(@job_id, dial_result.id, "big_sig_dots")%>" class="lightbox"><img src="<%=resource_analyze_path(@job_id, dial_result.id, "small_sig")%>" /></a>
		<a href="<%=resource_analyze_path(@job_id, dial_result.id, "big_freq")%>" ="lightbox"><img src="<%=resource_analyze_path(@job_id, dial_result.id, "small_freq")%>" /></a><br/>
		<% (dial_result.signatures||"").split("\n").each do |s|
			sid,mat,name = s.split(':', 3)
			str = [mat.to_i * 6.4, 255].min
			col = ("%.2x" % (255 - str)) * 3
		%>
			<div style="color: #<%= col%>;"><%=h name%> (<%=h sid %>@<%=h mat %>)</div>
		<% end %>
		<% if dial_result.fprint and dial_result.fprint.to_s != '{}' %>
			<a href="<%=view_matches_path(dial_result.id)%>">View Matches</a>
		<% end %>
	</td>
  </tr>
<% end %>
</table>

<%= raw(will_paginate @results) %>

<script type="text/javascript">
$(function() {
	// Use this example, or...
	$('a.lightbox').lightBox();
});
</script>
