<% if @submitted_jobs.length > 0 %>

<h1 class='title'>Submitted Jobs</h1>

<table class='table table-striped table-condensed' width='90%'>
  <tr>
    <th>ID</th>
    <th>Task</th>
    <th>Status</th>
    <th>Launched</th>
    <th>Actions</th>
    <th>Project</th>
  </tr>

<% @submitted_jobs.each do |job| %>
  <tr>
    <td><%= job.id %></td>
    <td><%= format_job_details(job) %></td>
	<td><%= format_job_status(job) %></td>
    <td><%= time_ago_in_words(job.created_at) %> ago</td>

    <td>
		<a class="btn" href="<%= job_path(job) %>" data-confirm="Remove this job?" data-method="delete" rel="nofollow tooltip" title="Remove Job"><i class="icon-remove"></i></a>
	</td>
    <td><%= link_to( h(truncate(job.project.name, :length => 25)), project_path(job.project)) %></td>
  </tr>
<% end %>
</table>
<br />
<% end %>

<% if(@active_jobs.length > 0) %>

<h1 class='title'>Active Jobs</h1>

<table class='table table-striped table-condensed' width='90%'>
  <tr>
    <th>ID</th>
    <th>Task</th>
    <th>Progress</th>
    <th>Rate</th>
    <th>Launched</th>
    <th>Actions</th>
    <th>Project</th>
  </tr>

<% @active_jobs.each do |job| %>
  <tr class='active_job_row'>
    <td><%= job.id %></td>
    <td><%= format_job_details(job) %></td>
    <td>
		<div class="progress progress-warning progress-striped progress-bar">
			<div class="bar" style="width: <%= job.progress %>%">
				<span class='progress_pct'><%= job.progress %>%</span>
			</div>
		</div>
	</td>
	<td><%= format_job_rate(job) %></td>
    <td><%= time_ago_in_words(job.created_at) %> ago</td>
    <td>
    	<% if job.task == "dialer" %>
    		<a class="btn" href="<%= view_results_path(job.project,job) %>" rel="tooltip" title="View Current Stats" ><i class="icon-zoom-in"></i></a>
    	<% end %>
    	<% if job.task == "analysis" and job.details[:scope].to_s != "calls" %>
    		<a class="btn" href="<%= view_analyze_path(job.project,job.details[:target_id]) %>" rel="tooltip" title="View Call Analysis"><i class="icon-eye-open"></i></a>
    	<% end %>
		<a class="btn" href="<%= stop_job_path(job) %>" data-confirm="Terminate this job?" rel="nofollow tooltip" title="Terminate Job"><i class="icon-stop"></i></a>
	</td>
    <td><%= link_to( h(truncate(job.project.name, :length => 25)), project_path(job.project)) %></td>
  </tr>
<% end %>
</table>
<br />

<% end %>

<% if (@active_jobs.length + @submitted_jobs.length == 0) %>
<h1 class='title'>No Active Jobs</h1>
<% end %>

<a class="btn" href="<%= new_dialer_job_path %>"><i class="icon-phone"></i> <strong>Wardial</strong></a>

<% if(@inactive_jobs.length > 0) %>
<br/><br/>
<h1 class='title'>Inactive Jobs</h1>

<%= will_paginate @inactive_jobs, :renderer => BootstrapPagination::Rails %>
<table class='table table-striped table-condensed' width='90%'>
  <tr>
    <th>ID</th>
    <th>Task</th>
    <th>Status</th>
    <th>Rate</th>
    <th>Created</th>
    <th>Completed</th>
    <th>Project</th>
  </tr>

<% @inactive_jobs.each do |job|
	special = ""
	case job.status
	when "error"
		special = "error"
	when "stopped"
		special = "warning"
	end
%>
  <tr class='<%= special %>'>
    <td><%= job.id %></td>
    <td><%= format_job_details(job) %></td>
	<td><%= format_job_status(job) %></td>
	<td><%= format_job_rate(job) %></td>
    <td><%= time_ago_in_words(job.created_at) %> ago</td>
    <td><%= job.completed_at ? "after " + time_ago_in_words(Time.at(Time.now.to_i - (job.completed_at.to_f - job.created_at.to_f))) : "incomplete" %></td>
    <td><%= link_to( h(truncate(job.project.name, :length => 25)), project_path(job.project)) %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @inactive_jobs, :renderer => BootstrapPagination::Rails %>
<br />

<script language="javascript">
	setTimeout("location.reload(true);", <%= @reload_interval %>);
</script>

<% end %>
