<h1 class='title'>Call Analysis</h1>

<%= semantic_form_for(@job, :url => analyzer_job_path, :html => { :multipart => true, :method => :put }) do |f| %>

	<% if @project %>
	<%= f.input :project_id, :as => :hidden, :input_html => { :value => @project.id } %>
	<% else %>
	<%= f.input :project, :as => :select %>
	<% end %>

	<%= f.input :force,  :as => :boolean, :label => 'Process previously analyzed calls?', :input_html => { :value => 0 } %>
	<%= f.action :submit, :label => 'Analyze', :button_html => { :class => 'btn btn-large fbtn' }  %>

	<a class="btn btn-link" href="<%= project_path(@project) %>" rel="tooltip" title="Return to project"><i class="fa fa-return"></i>Cancel</a>
<% end %>

<%= set_focus('job_submit') %>
