<% if @jobs.length > 0 %>
<h1 class='title'>Scan Results</h1>

<%= will_paginate @jobs, :renderer => BootstrapPagination::Rails %>
<table class='table table-striped table-condensed' width='90%'>
  <thead>
  <tr>
    <th>ID</th>
    <th>Type</th>
    <th>Details</th>
    <th>Answered</th>
    <th>Analyzed</th>
    <th>Launched</th>
    <th>User</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>

<% @jobs.each do |job|

	cnt_dialed   = job.calls.count.to_i
	cnt_answered = job.calls.where("answered = ? and busy = ?", true, false).count.to_i
	cnt_analyzed = job.calls.where("analysis_completed_at IS NOT NULL").count.to_i
	pct_answered = 0
	pct_analyzed = 0
	unless cnt_dialed == 0
		pct_answered = ((cnt_answered.to_f / cnt_dialed.to_f) * 100).to_i
	end
	unless cnt_answered == 0
		pct_analyzed = ((cnt_analyzed.to_f / cnt_answered.to_f) * 100).to_i
	end
%>
  <tr>
    <td><%= job.id %></td>
    <td><%= format_job_details(job) %></td>
    <td>
    	<% if job.task == "dialer" %>
			<%= truncate(job.details[:range].to_s, :length => 15)  %> /
			<%= job.details[:cid_mask].to_s  %>
    	<% end %>
	    	<span rel="tooltip" class="xtooltip" title="<%= job.details[:directory].to_s %>">
			<%= truncate(job.details[:directory].to_s, :length => 15) %>
    	<% if job.task == "importer" %>

    	<% end %>
    </td>
    <td><span rel="tooltip" class="xtooltip" title="<%= pct_answered %>% answered"><%= cnt_answered %> / <%= cnt_dialed %></span></td>
    <td><span rel="tooltip" class="xtooltip" title="<%= pct_analyzed %>% analyzed"><%= cnt_analyzed%></span></td>


	<td><%= job.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
	<td><%= job.created_by %></td>
    <td>
        <a class="btn" href="<%= view_results_path(@project,job) %>" rel="tooltip" title="View Call Connections" ><i class="icon-zoom-in"></i></a>

		<% if cnt_analyzed > 0 %>
			<a class="btn" href="<%= view_analyze_path(@project,job) %>" rel="tooltip" title="View Call Analysis"><i class="icon-eye-open"></i></a>
			<% if pct_analyzed == 100 %>
				<a class="btn" href="<%= reanalyze_job_path(@project,job) %>" data-confirm="Reprocess this job?" rel="nofollow tooltip" title="Rerun Call Analysis"><i class="icon-refresh"></i></a>
			<% else %>
				<a class="btn" href="<%= analyze_job_path(@project,job) %>" data-confirm="Continue to process this job?" rel="nofollow tooltip" title="Finish Call Analysis"><i class="icon-cog"></i></a>
			<% end %>
		<% else %>
			<% if cnt_answered > 0 %>
			<a class="btn" href="<%= analyze_job_path(@project,job) %>" data-confirm="Analyze this job?" rel="nofollow tooltip" title="Run Call Analysis"><i class="icon-cog"></i></a>
			<% end %>
		<% end %>

    	<a class="btn" href="<%= job_path(job) %>" data-confirm="Delete all data for this job?" data-method="delete" rel="nofollow tooltip" title="Delete Call Data"><i class="icon-trash"></i></a>
	</td>
  </tr>

<% end %>
</tbody>
</table>

<%= will_paginate @jobs, :renderer => BootstrapPagination::Rails %>

<% else %>

<h1 class='title'>No Completed Jobs</h1>
<br/>

<% end %>

<a class="btn" href="<%= new_dialer_job_path %>"><i class="icon-plus"></i> New Scan </a>
