<h1 class='title'>Show Job</h1>
<p>
  <b>Range:</b>
  <%=h @job.range %>
</p>

<p>
  <b>Seconds:</b>
  <%=h @job.seconds %>
</p>

<p>
  <b>Lines:</b>
  <%=h @job.lines %>
</p>

<p>
  <b>Status:</b>
  <%=h @job.status %>
</p>

<p>
  <b>Progress:</b>
  <%=h @job.progress %>
</p>

<p>
  <b>Started at:</b>
  <%=h @job.started_at %>
</p>

<p>
  <b>Completed at:</b>
  <%=h @job.completed_at %>
</p>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
