<% if @jobs.length > 0 %>
<h1 class='title'>Completed Jobs</h1>

<%= will_paginate @jobs, :renderer => BootstrapPagination::Rails %>
<table class='table table-striped table-condensed' width='90%'>
  <thead>
  <tr>
    <th>ID</th>
    <th>Range</th>
	<th>CallerID</th>
    <th>Connected</th>
    <th>Date</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>

<% @jobs.each do |job|  %>
  <tr>
    <td><%= job.id %></td>
    <td><%= job.range %></td>
    <td><%= job.cid_mask %></td>
    <td><%= (
		job.calls.where("analysis_completed_at IS NOT NULL").count.to_s +
		"/" +
		job.calls.count.to_s
	)%></td>
    <td><%= job.started_at.localtime.strftime("%Y-%m-%d %H:%M:%S") %></td>

    <td>
        <a class="btn" href="<%= view_call_path(@project,job) %>" rel="tooltip" title="View Call Connections" ><i class="icon-bar-chart"></i></a>

		<% if job.calls.where("analysis_completed_at IS NOT NULL").count > 0 %>
			<a class="btn" href="<%= analyze_call_path(@project,job) %>" rel="tooltip" title="View Call Analysis"><i class="icon-eye-open"></i></a>
			<a class="btn" href="<%= reanalyze_call_path(@project,job) %>" data-confirm="Reprocess this job?" rel="nofollow tooltip" title="Rerun Call Analysis"><i class="icon-refresh"></i></a>
		<% else %>
			<a class="btn" href="<%= analyze_call_path(@project,job) %>" data-confirm="Analyze this job?" rel="nofollow tooltip" title="Run Call Analysis"><i class="icon-bolt"></i></a>
		<% end %>

    	<a class="btn" href="<%= call_path(@project,job) %>" data-confirm="Delete all data for this job?" data-method="delete" rel="nofollow tooltip" title="Delete Call Data"><i class="icon-trash"></i></a>
	</td>
  </tr>

<% end %>
</tbody>
</table>

<%= will_paginate @jobs, :renderer => BootstrapPagination::Rails %>

<% else %>

<h1 class='title'>No Completed Jobs</h1>
<br/>

<% end %>

<a class="btn" href="<%= new_dialer_job_path %>"><i class="icon-plus"></i> Start Job </a>
