<% if @calls %>


<h1 class='title'>Dial Results for Job <%=@calls[0].job_id%></h1>

<%= raw(will_paginate @calls) %>
<table width='100%' align='center' border=0 cellspacing=0 cellpadding=6>
<tr>
	<td align='center'>
		<%= render :partial => 'shared/graphs/call_results' %>
	</td>
</tr>
</table>

<br/>

<table class='table table-striped table-bordered' width='90%' id='results'>
  <thead>
  <tr>
    <th>Number</th>
    <th>CallerID</th>
    <th>Provider</th>
    <th>Completed</th>
    <th>Busy</th>
    <th>Seconds</th>
	<th>Ring Time</th>
  </tr>
  </thead>
  <tbody>
<% for call in @calls.sort{|a,b| a.number <=> b.number } %>
  <tr>
    <td><%= call.number %></td>
    <td><%= call.cid %></td>
    <td><%= call.provider.name %></td>
    <td><%= call.completed %></td>
    <td><%= call.busy %></td>
    <td><%= call.seconds %></td>
    <td><%= call.ringtime.to_i %></td>
  </tr>
<% end %>
  </tbody>
</table>
<%= raw(will_paginate @calls) %>

<% else %>

<h1 class='title'>No Dial Results</h1>

<% end %>
<br />

<%= javascript_tag do %>
// For fixed width containers
$('#results').dataTable({
  "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
  "sPaginationType": "bootstrap"
});
<% end %>
