<div class="row">

<div class="span9">

<h1 class='title'>About WarVOX</h1>

<b>WarVOX</b> is a product of <a href="http://www.rapid7.com/">Rapid7 Inc</a> and is provided as
free software. WarVOX is intended for legal security assessment, asset inventory,
and research purposes only. The latest version of WarVOX can be found in <i class="icon-github"></i> GitHub at the following url
<a href="https://github.com/rapid7/warvox/"> https://github.com/rapid7/warvox/</a>.

</div>
<div class="span3">

<h1 class='title'>Statistics</h1>

<table class='table table-condensed'>

<tr>
	<td>
		Version
	</td>
	<td><%= WarVOX::VERSION %></td>
</tr>

<tr>
	<td>
		Providers
	</td>
	<td><%= Provider.count %></td>
</tr>


<tr>
	<td>
		Active Jobs
	</td>
	<td><%= DialJob.count(:conditions => ['status = ?', 'active']) %></td>
</tr>

<tr>
	<td>
		Total Jobs
	</td>
	<td><%= DialJob.count %></td>
</tr>

<tr>
	<td>
		Results
	</td>
	<td><%= DialResult.count %></td>
</tr>
</table>
</div>
</div>
<!-- // row -->


<div class="row">
<div class="span12">


<h1 class='title'>Configuration</h1>


<table width='100%' class='table table-bordered'>

<tr>
	<td>
		Base Directory
	</td>
	<td><%= WarVOX::Base %></td>
</tr>


<tr>
	<td>
		Configuration File
	</td>
	<td><%= WarVOX::Conf %></td>
</tr>

<tr>
	<td>
		Admin User
	</td>
	<td><%= WarVOX::Config.authentication_creds[0] %></td>
</tr>

<tr>
	<td>
		GNUPlot
	</td>
	<td><%= WarVOX::Config.tool_path('gnuplot') || "MISSING" %></td>
</tr>

<tr>
	<td>
		LAME
	</td>
	<td><%= WarVOX::Config.tool_path('lame') || "MISSING" %></td>
</tr>

<tr>
	<td>
		IAXRECORD
	</td>
	<td><%= WarVOX::Config.tool_path('iaxrecord') || "MISSING" %></td>
</tr>

<tr>
	<td>
		KissFFT
	</td>
	<td><%= @has_kissfft %></td>
</tr>
</table>

<br/><br/>

<h1 class='title'>Dial Exclusions (Blacklist)</h1>
<pre><%=h File.read(WarVOX::Config.blacklist_path) %></pre>

</div>
</div>
