<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "WarVOX v#{WarVOX::VERSION}" %></title>
	<%= csrf_meta_tags %>

	<!--[if lt IE 9]>
		<%= javascript_include_tag "html5" %>
	<![endif]-->

<%= javascript_include_tag "application" %>
<%= yield :view_javascript %>
<%= stylesheet_link_tag "application", :media => "all" %>
<%= yield :view_stylesheets %>


    <%= favicon_link_tag '/assets/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>
    <%= favicon_link_tag '/assets/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>
    <%= favicon_link_tag '/assets/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>
    <%= favicon_link_tag '/assets/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>
    <%= favicon_link_tag '/assets/favicon.ico', :rel => 'shortcut icon' %>

	<%= javascript_tag do %>
		$(document).ready(function() {

			$(".xtooltip").tooltip();

			$(".xpopover").popover({
				html: true,
				placement: 'right',
				trigger: 'hover',
				delay: { show: 300, hide: 300 },
				animation: false,
			});
		});
	<% end %>
  </head>
  <body>
	<div class="container">
		<%= nav_bar :fixed => :top, :brand => raw('<img src="/assets/logo_light.png" border=0 alt="WarVOX">'), :responsive => true do %>

			<%= menu_group :pull => :right  do %>
			<% if @project and @project.id %>
				<li>
					<%= link_to(
						raw(
							'<i class="icon-chevron-left icon-white"></i> ' +
							h(truncate(@project.name, :length => 20)) +
							' <i class="icon-chevron-right icon-white"></i>'), project_path(@project), :class => 'project-title') %>
				</li>
				<%= menu_item "Scans", results_path(@project) %>
				<%= menu_item "Analysis", analyze_path(@project)%>
			<% end %>

				<%= menu_item "Jobs", jobs_path %>
				<%= drop_down "Projects" do %>
					<% if Project.count > 0 %>
						<%= menu_item raw('<i class="icon-list"></i> Browse Projects'),projects_path %>
					<% end %>
					<%= menu_item raw('<i class="icon-plus"></i> Create Project'), new_project_path %>
					<% if Project.count > 0 %>
						<%= drop_down_divider %>
						<%= drop_down_header "Recent Projects" %>
						<% Project.find(:all, :order => 'ID DESC', :limit => 5).each do |project| %>
							<%= menu_item raw('<i class="icon-chevron-right"></i> ' + h(truncate(project.name, :length => 15))),project_path(project) %>
						<% end %>
					<% end %>
				<% end %>

				<%= drop_down "Admin" do %>
					<%= menu_item raw('<i class="icon-user"></i> My Account'), user_path(current_user) %>
					<%= menu_item raw('<i class="icon-globe"></i> Providers'), providers_path %>
					<%= menu_item raw('<i class="icon-wrench"></i> Config'), settings_path %>
					<%= menu_item raw('<i class="icon-info-sign"></i> About'), about_path %>
				<% end %>

				<%= menu_item raw('<div class="help-icon"><i class="icon-off icon-white" rel="tooltip" title="Logout"></i></div>'), logout_path %>

				<%= menu_item raw('<div class="help-icon"><i class="icon-question-sign icon-white" rel="tooltip" title="Help!"></i></div>'), check_path %>
			<% end %>
		<% end %>

      <div class="row">
        <div class="span12 content">
          <div class="content">

          <p style="color: green"><%= flash[:notice] %></p>
          <%= yield %>
          </div>

          <footer class="footer">
          	<p>WarVOX v<%=WarVOX::VERSION %> &copy; Rapid7, Inc. 2009-2013</p>
          </footer>

        </div>
      </div>
    </div> <!-- /container -->

  </body>
</html>
