<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "WarVOX v#{WarVOX::VERSION}" %></title>
    <%= csrf_meta_tags %>

    <!--[if lt IE 9]>
        <%= javascript_include_tag "html5" %>
    <![endif]-->

    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= favicon_link_tag 'images/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>
    <%= favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>
    <%= favicon_link_tag 'images/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>
    <%= favicon_link_tag 'images/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>
    <%= favicon_link_tag 'images/favicon.ico', :rel => 'shortcut icon' %>

	<%= javascript_tag do %>
		$(document).ready(function() {
			$("a").tooltip();
		}
	<% end %>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/"><img src="/assets/logo_light.png" border=0 alt="WarVOX"></a>
          <%= tabs %>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="row">
        <div class="span12 content">

          <div class="content">
          <%= yield %>
          </div>

          <footer class="footer">
            <p>&copy; Rapid7, Inc. 2009-2013</p>
          </footer>

        </div>
      </div>
    </div> <!-- /container -->


  </body>
</html>
