<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "WarVOX v#{WarVOX::VERSION}" %></title>
	<%= csrf_meta_tags %>

	<!--[if lt IE 9]>
		<%= javascript_include_tag "html5" %>
	<![endif]-->

<%= javascript_include_tag "application" %>

<%= yield :view_javascript %>
<%= stylesheet_link_tag "application", :media => "all" %>

<%= yield :view_stylesheets %>
  <%= favicon_link_tag '/assets/favicon.ico', :rel => 'shortcut icon' %>
	<%= javascript_tag do %>
		$(document).ready(function() {

			$(".xtooltip").tooltip();

			$(".xpopover").popover({
				html: true,
				placement: 'right',
				trigger: 'hover',
				delay: { show: 300, hide: 300 },
				animation: false,
			});
		});
	<% end %>
  </head>
  <body>
  <%= render 'nav' %>
	<div class="container" id="main">
      <div class="row">
        <div class="span12">
          <div class="content">

          <p style="color: green"><%= flash[:notice] %></p>
          <%= yield %>
          </div>

          <footer class="footer">
          	<p>WarVOX v<%=WarVOX::VERSION %> &copy; 2009-<%= Time.now.year %> Rapid7, Inc</p>
          </footer>

        </div>
      </div>
    </div> <!-- /container -->

  </body>
</html>
