<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "WarVOX v#{WarVOX::VERSION}" %></title>
    <%= csrf_meta_tags %>

    <!--[if lt IE 9]>
        <%= javascript_include_tag "html5" %>
    <![endif]-->

    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= favicon_link_tag '/assets/favicon.ico', :rel => 'shortcut icon' %>

	<%= javascript_tag do %>
		$(document).ready(function() {
			$("a").tooltip();
		});
	<% end %>
  </head>
  <body id="login">
  <div id="login-panel">
  <div id="login-logo"><img src="/assets/logo_bigger.png" border=0 alt="WarVOX"></div>
  <div id="box">
    <%= yield %>
  </div>

    <footer class="footer">
      <p>WarVOX v<%=WarVOX::VERSION %> &copy; 2009-<%= Time.now.year%> Rapid7, Inc</p>
    </footer>

  </body>
</html>
